{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}



{% block body %}
    <h1>Aankomende optredens</h1>
    <p>Hier onder ziet u de aankomende optredens die er komen. Vragen? Neem contact op</p>
    <table class="table">
        <tbody>
    <tr>
            <th>Artiest</th>
            <th>Datum</th>
            <th>Aanvang</th>
    </tr>
    <tr>

        {% for Optreden in Optreden %}
            <td>{{ Optreden.artiestId }}</td>
             <td>{{ Optreden.datum ? Optreden.datum|date('Y-m-d') : '' }}</td>
             <td>{{ Optreden.aanvang ? Optreden.aanvang|date('h:i:m') : '' }}</td>
    </tr>
        {% endfor %}

        <tbody>
    </table>
{% endblock %}
